#brand-image {
    height: 100%;
}

.navbar .navbar-header, .navbar-collapse {
    float: none;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: block;
    }
}

#large-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#summoner-search {
    float: none;
    min-width: 80px;
    max-width: 300px
}

.navbar-header .col-md-6 {
    margin: 0 auto;
}

.navbar-brand {
    float: right;
}

#region-selector {
    padding: 10px;
}

#navbar-summoner-search {
    padding: 1px 0 0 0;
}